<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Informes</h5>
                <p class="txt-color">MCC. Elvis Javier Recio Campos</p>
                <p class="txt-color">Subdirector de Posgrado e investigación</p>
                <p><a href="mailto:elvis.recio@itstb.edu.mx"><i class="fa fa-envelope"></i> elvis.recio@itstb.edu.mx</a></p>
                <p><a><i class="fa fa-phone"></i> (274) 743 49 92 Ext. 148</a></p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class="ocult">Nada aqui</h5>
                <p class="txt-color">Dr. Genaro Ochoa Cruz</p>
                <p class="txt-color">Coordinador de la Maestría en Ingeniería Industrial</p>
                <p><a href="mailto:genaro.ochoa@itstb.edu.mx"><i class="fa fa-envelope"></i> genaro.ochoa@itstb.edu.mx</a></p>
                <p><a><i class="fa fa-phone"></i> (274) 743 499 ext. 148</a></p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Dirección</h5>
                <p class="txt-color"><i class="fa fa-map-marker"></i> Av. Veracruz S/N esquina Héroes de Puebla. Col. Pemex 95180</p>
                <p><a><i class="fa fa-phone" ></i> (274) 743 4992 </a></p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Categorías</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="inicio"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
                    <li><a href="programa-academico"><i class="fa fa-angle-double-right"></i>Programa Académico</a></li>
                    <li><a href="nucleo-academico"><i class="fa fa-angle-double-right"></i>Núcleo Académico</a></li>
                    <li><a href="repositorio"><i class="fa fa-angle-double-right"></i>Repositorio de Tesis</a></li>
                    <li><a href="/estudiantes/perfil-ingreso"><i class="fa fa-angle-double-right"></i>Estudiantes</a></li>
                    <!-- <li><a href="vinculacion"><i class="fa fa-angle-double-right"></i>Vinculación</a></li> -->
                    <li><a href="plagio"><i class="fa fa-angle-double-right"></i>Lineamientos de Plagio</a></li> 
                    <li><a href="convocatoria"><i class="fa fa-angle-double-right"></i>Convocatorias</a></li>
                    <li><a href="siac"><i class="fa fa-angle-double-right"></i>SIAC</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/mcabi2016"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:mcabi@itstb.edu.mx" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy; {{ anio | date: 'y'}} Maestría en Ingeniería Industrial (MII)</p>
                <p class="h6"><a href="http://principal.itstb.edu.mx/" target="_blank">Instituto Tecnológico Superior de Tierra Blanca</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>

<!-- ./Footer -->
