<div class="container">
    <h4 class="text-center">Maestría en Ingeniería Industrial (MII)</h4>
    <h4 class="text-center">Perfil de Egreso</h4>
    <br>
    <p>Profesionales con capacidades de diagnóstico y análisis, para la mejora de la productividad de sistemas industriales y de servicios a través de la
        implementación de metodologías de ingeniería industrial tomando decisiones de forma competitiva que contribuyan al progreso de la comunidad
        industrial y empresarial de la región y del país.</p>
    <h5>Habilidades:</h5>
    <ul>
        <li>• Capacidad de análisis para detectar las áreas de oportunidad.</li>
        <li>• Dominio de software necesario para desarrollar y visualizar las ideas que apoyen a la eficiente toma de decisiones.</li>
        <li>• Comunicación asertiva.</li>
        <li>• Liderazgo.</li>
        <li>• Capacidad para la solución de problemas.</li>
        <li>• Aprovechamiento de los avances tecnológicos aplicables a su área.</li>
    </ul>
    <h5>Actitudes</h5>
    <li>• Mente abierta y positiva, con principios éticos y morales.</li>
    <li>• Respeto al medio ambiente.</li>
    <li>• Superación constante</li>
    <li>• Proactivo.</li>
</div>