<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav-container navbar-nav ml-auto">
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="inicio" style="color: white;">Inicio</a>
                    </li>
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="programa-academico" style="color: white;">Programa Académico</a>
                    </li>
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="nucleo-academico" style="color: white;">Núcleo Académico</a>
                    </li>
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="repositorio" style="color: white;">Repositorio de Tesis</a>
                    </li>
                    <li class="nav-container-item nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="desplegable" href="# " style="color: white;">Estudiante</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/estudiantes/perfil-ingreso" style="color: white;">Perfil de Ingreso</a>
                            <a class="dropdown-item" routerLink="/estudiantes/perfil-egreso" style="color: white;">Perfil de Egreso</a>
                            <a class="dropdown-item" routerLink="/estudiantes/generaciones" style="color: white;">Generaciones</a>
                            <!-- <a class="dropdown-item" routerLink="/estudiantes/egresados" style="color: white;">Egresados</a>
                            <a class="dropdown-item" routerLink="/estudiantes/proceso-titulacion" style="color: white;">Proceso de Titulación</a>
                            <a class="dropdown-item" style="color: white;">Encuestas</a>
                            <a class="dropdown-item" routerLink="/estudiantes/estancias" style="color: white;">Estancias</a> -->
                        </div>
                    </li>
                   <!--  <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="vinculacion" style="color: white;">Vinculación</a>
                    </li> --> 
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="plagio" style="color: white;">Lineamientos de Plagio</a>
                    </li>
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="convocatoria" style="color: white;">Convocatorias</a>
                    </li> 
                    <li class="nav-container-item nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
                        <a class="nav-link" routerLink="siac" style="color: white;">SIAC</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>