<div class="container">
    <h4 class="text-center">Maestría en Ingeniería Industrial (MII)</h4>
    <h4 class="text-center">Perfil de Ingreso</h4>
    <br>
    <p>Para un correcto desarrollo en el programa de Maestría en Ingeniería Industrial son requeridos conocimientos profesionales, habilidades
        conductuales y valores personales, mismos que serán fortalecidos para el alcance de su desarrollo integral. A continuación, se enlistan los
        requerimientos del perfil de ingreso.</p>
    <h5>Requerimientos</h5>
    <ul>
        <li>• Poseen habilidades de lectura y compresión de textos técnicos.</li>
        <li>• Saber trabajar en equipo.</li>
        <li>• Se establecen objetivos de crecimiento profesional y son disciplinados para alcanzarlos.</li>
        <li>• Demuestran capacidad para la solución de problemas reales usando sus conocimientos profesionales.</li>
        <li>• Manifiestan tener manejo del idioma inglés a nivel traducción, como mínimo.</li>
    </ul>
</div>