<div class="container ">
    <h4 class="text-center pt-1">Maestría en Ciencias de los Alimentos y Biotecnología </h4>
    <h4 class="text-center">Vinculación</h4>
    <br>
    <div class="row">
        <table class="table table-striped table-bordered row-border hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Tipo de Convenio</th>
                    <th scope="col">Número Convenio</th>
                    <th scope="col">Organización</th>
                    <th scope="col">Fecha Inicial</th>
                    <th scope="col">Fecha Final</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Educativo</td>
                    <td>Nacionak - Público</td>
                    <td>3</td>
                    <td>Universidad Politécnica de Huatusco</td>
                    <td>07/07/2017</td>
                    <td>07/07/2020</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico, así como lograr la difusión de actividades culturales,
                        sociales y prestación de servicio social.</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>TecNM / Campus Queretaro</td>
                    <td>08/07/1905</td>
                    <td>Sin Dato</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico, tratamiento de metales pesados en afluentes industriales
                        con esponjas de poliuretano y biorremediación para pymes manufactureras y mineras</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>TecNM / Campus Queretaro</td>
                    <td>08/07/2016</td>
                    <td>Sin Dato</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico, tratamiento de metales pesados en afluentes industriales
                        con esponjas de poliuretano y biorremediación para pymes manufactureras y mineras</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>TecNM - Campus Boca del Rio</td>
                    <td>01/07/2016</td>
                    <td>Renovación</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico, tratamiento de metales pesados en afluentes industriales
                        con esponjas de poliuretano y biorremediación para pymes manufactureras y mineras</td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>TecNM - Campus Durango</td>
                    <td>09/07/2017</td>
                    <td>09/07/2022</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico.</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>TecNM - Campus Perote</td>
                    <td>09/07/2017</td>
                    <td>Sin Dato</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico.</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Educativo</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>Universidad Veracruzana</td>
                    <td>09/07/2017</td>
                    <td>Sin Dato</td>
                    <td>La colaboración entre las partes para el desarrollo de proyectos conjuntos de investigación, docencia y difusión del conocimiento en temas relacionados con el desarrollo tecnológico.</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Empresa</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>Lácteos y Derivados de Tierra Blanca SPR de RL</td>
                    <td>09/07/2017</td>
                    <td>Sin Dato</td>
                    <td>Estandarización del proceso de fabricación de queso tipo Chiapas. asesoría técnica a productores</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Empresa</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>Comercializadora Akih SA de CV</td>
                    <td>01/08/2014</td>
                    <td>Vencido</td>
                    <td>Mejoramiento de procesos de producción de productos a partir de vaina de vainilla, asesoría técnica, generación de nuevos productos</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Empresa</td>
                    <td>Nacional - Público</td>
                    <td>Sin Dato</td>
                    <td>Transformarte AC</td>
                    <td>10/07/2017</td>
                    <td>01/07/2022</td>
                    <td>Mejoramiento de procesos de producción de productos , asesoría técnica, generación de nuevos productos</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>