<div class="container">
    <h4 class="text-center pt-1">Maestría en Ingeniería Industrial (MII) </h4>
    <h4 class="text-center">Convocatoria</h4>
    <br>

    <div class="card">
        <div class="row ">
            <div class="col-md-4">
                <img src="assets/img/img-docentes/2.jpg" class="w-100">
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <p class="separator">El Instituto Tecnológico Superior de Tierra Blanca a través de la Subdirección de Posgrado e Investigación convoca a las personas interesadas en participar en el proceso de admisión para ingresar al programa de Maestría en Ingeniería Industrial (MII) en modalidad presencial reconocido por el Tecnológico Nacional de México.
                    </p>
                    <p class="separator">El proceso de selección de estudiantes de la maestría está regulado tanto por el Reglamento de Estudios de Posgrado del TecNM (REP) así como por la Normativa Interna del Programa de Maestría en Ingeniería Industrial (MII)
                        del Instituto Tecnológico Superior de Tierra Blanca (ITSTB). El proceso de Ingreso requiere:</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm">
            <h4><i class="fa fa-tasks"></i> Requisitos</h4>
            <hr color="black" />
            <ul>
                <li class="li-size"> • Copia del Acta de Nacimiento. </li>
                <li class="li-size"> • Copia de la CURP.</li>
                <li class="li-size"> • Copia del certificado de estudios a nivel licenciatura. Promedio mínimo de 80 o equivalente.</li>
                <li class="li-size"> • Copia del título de licenciatura o acta de examen.</li>
                <li class="li-size"> • Comprobante de presentación de examen TOEFL (400 puntos o equivalente). </li>
                <li class="li-size"> • Comprobante de EXANI III o equivalente.</li>
                <li class="li-size"> • Carta de exposición de motivos por los cuales desea ingresar al programa, dirigido al Subdirector de Posgrado de investigación con atención a la coordinadora de la maestría. (Solicitar formato a la coordinación). </li>
                <li class="li-size"> • Dos cartas de recomendación expedidas por profesores y/o investigadores reconocidos por el área. </li>
                <li class="li-size"> • Cuatro fotografías recientes tamaño infantil a color. </li>
                <li class="li-size"> • Curriculum Vitae. </li>

            </ul>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h4><i class="fa fa-calendar"></i> Recepción de Documentos</h4>
                    <hr color="black">
                    <div class="row">
                        <div class="col">
                            <h5>Primer Periodo</h5>
                            <ul>
                                <li> • Marzo - Junio</li>
                                <li> • Inicio de Clases: Agosto</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Segundo Periodo</h5>
                            <ul>
                                <li> • Septiembre - Diciembre</li>
                                <li> • Inicio de Clases: Febrero</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4><i class="fa fa-cog"></i> Periodo de Evaluación</h4>
                    <hr color="black">
                    <ul>
                        <li class="li-size"> • Primera quincena de Julio. (Primer Período de Selección ) </li>
                        <li class="li-size"> • Primera quincena de Enero. (Segundo Período de Selección )</li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4><i class="fa fa-download"></i> Descargar</h4>
                    <hr color="black">
                    <ul>
                        <li class="li-size"> Aqui va el archivo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>