.container {
    padding: 20px 20px 40px 20px;
    background-color: #ffffff;
    box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5)
}

.row {
    padding: 10px;
}

.title {
    margin-bottom: 25px;
}
