<div class="container">
    <h4 class="text-center">Maestría en Ingeniería Industrial (MII) </h4>
    <br>
    <h5>Plan de estudios</h5>
    <div class="row">
        <p class="text-left">El plan de estudios de la Maestría en Ingeniería Industrial forma parte de la oferta académica a nivel posgrado del Tecnológico Nacional de
            México, el cual es un posgrado aceptado y autorizado por el Sistema Nacional de Educación Superior Tecnológica.</p>
            <br>
        <ul>
            <h6 class="text-left">Líneas de Generación y Aplicación de Conocimiento (LGCA)</h6>
            <li class="text-left"> • Sistemas de Mejoramiento Empresarial.</li>
            <li class="text-left"> • Diseño y mejora de Productos y Procesos.</li>            
                      
        </ul>
    
    </div>
    <table class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Créditos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Administración de los sistemas de producción</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Estadística</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Investigación de Operaciones</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Análisis económico</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Seminario de Investigación I</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Seminario de Investigación II</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Seminario de Investigación III</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Optativa I</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa II</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa III</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Optativa IV</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Tesis</td>
                <td>40</td>
            </tr>
        </tbody>
    </table>
</div>